
<div class="container">
    <p class="head"> Capsules</p>
  <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">id</th>
              <th scope="col">landings</th>
              <th scope="col">original_launch</th>
              <th scope="col">reuse_count</th>
              <th scope="col">status</th>
              <th scope="col">type</th>
              <th scope="col">mission</th>
              
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of allCapsules$ | async allCapsules$" >
              <th scope="row"> {{item.id}}</th>
              <td>{{item.landings}}</td>
              <td>{{item.original_launch}}</td>
              <td>{{item.reuse_count}}</td>
              <td>{{item.status}}</td>
              <td>{{item.type}}</td>
              <td ><span *ngFor="let mis of item.missions">name :{{mis.flight}} flight:{{mis.flight}} <br></span></td>
              
            
             
          </tr>
      </tbody>
  </table>