 
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="navbar-brand">
        <a class="nav-link" routerLink="/">SpaceX</a>
      </div>
     
    </div>
  </nav>
  
    <body>
    
    
<div class="dropdown">
    <div class="dropbtn">My Queries ></div>
    <div class="dropdown-content">
    <a routerLink="capsules">All Capsules</a>
    <a routerLink="missions">All Missoins </a>
    <a routerLink="launchs">All Launches</a>
    <a routerLink="ships">All Ships</a>
    </div>
  </div>
  

  <span class="mid">Test Angular with Hjayej Mohamed </span>
      
      
 
    <div></div>
  </body>
  
  
  
<router-outlet></router-outlet>
